.formulario {
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.formulario .formulario-campos {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--eerie-black);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.formulario .formulario-campos form {
    flex-direction: column;
    text-align: left;
}

.formulario .formulario-imagem {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../assets/img/saco-cafe-entrar.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

@media screen and (max-width: 992px) {
    .formulario .formulario-imagem {
        display: none;
    }
    .formulario .formulario-campos {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}