:root {
  --eerie-black: #1e1e1eff;
  --deep-jungle-green: #204d48ff;
  --gunmetal: #233237ff;
  --dark-slate-gray: #3a555cff;
  --gold-metallic: #d8b564ff;
  --dark-liver-horses: #5c413aff;
}

.dark-slate-gray {
  background-color: #3a555cff;
}

.eerie-black {
  background-color: #1e1e1eff;
}

.deep-jungle-green {
  background-color: #204d48ff;
}
