* {
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--deep-jungle-green);
}

:root {
  --eerie-black: #1e1e1eff;
  --deep-jungle-green: #204d48ff;
  --gunmetal: #233237ff;
  --dark-slate-gray: #3a555cff;
  --gold-metallic: #d8b564ff;
  --dark-liver-horses: #5c413aff;
}

.dark-slate-gray {
  background-color: #3a555cff;
}

.eerie-black {
  background-color: #1e1e1eff;
}

.deep-jungle-green {
  background-color: #204d48ff;
}
.eerie-black {
  background-color: var(--eerie-black);
}
.dark-slate-gray {
  background-color: var(--dark-slate-gray);
}

.gold-metallic {
  background-color: var(--gold-metallic);
}