html, 
body {
    height: 100%;
}

body{
    background-color: white;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--eerie-black);
    font-weight: bold;
    background-color: var(--gold-metallic);
    }

.nav-pills .nav-link {
    background: 0 0;
    width: 120px;
    text-align: center;
    border: 0;
    border-radius: 0.25rem;
    color: var(--gold-metallic);
    background-color: var(--dark-slate-gray);
}

.btn{
    color: var(--gold-metallic);
}

.btn:hover{
    color: white;
}

.tab-content .bi{
    cursor: pointer;
}

.row{
    margin: 20px;
}

.row .produto{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.25rem;

}

.row .produto .icones {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1.25rem;
    width: 100%;
}

.row .produto img{
    width: 80%;
}

.row .produto .btn{
    color: black;
    background-color: var(--gold-metallic);
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.row .produto .nome-produto{
    font-size: 100%;
    text-align: center;
    height: 50px;
    width: 100%;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 1rem;
}

/* footer{
    background-color: var(--eerie-black);
    height: 50px;
    padding: 10px;
    text-align: center;     

}

.footer p{
    color: rgba(218, 218, 218, 0.883);
} */

/* Responsividade do filtro*/

@media screen and (max-width: 780px){

    .nav-pills .nav-item{
        margin: 5px;
        display: flex;
        flex-wrap: nowrap;
    }
}

/* Responsividade do Carrossel*/

@media screen and (max-width: 400px){

    .carousel{
        display: none;
    }
}

