.container .col-md-12 .row {
  flex-direction: row-reverse;
}

.image-indicators {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.image-indicators img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 0px 10px;
  background-color: #ddd;
  padding: 5px;
  cursor: pointer;
}


#botao {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px 0px;
}

#botao .btn {
  background-color: var(--eerie-black);
  color: var(--gold-metallic);
  width: 75%;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 5px;
  border-radius: 15px;
}

#botao .btn:hover {
  background-color: rgba(30, 30, 30, 0.8);
  border: 1px solid var(--gold-metallic);
}

#botao .btn-opacity {
  background-color: rgba(30, 30, 30, 0.8);
}

#botao .btn-opacity:hover {
  background-color: rgba(30, 30, 30, 1);
}

#botao .qtd-produto {
  display: flex;
  align-items: center;
}

#botao .qtd-produto i {
  font-size: 1.75rem;
  color: rgba(30, 30, 30, 0.8);
  margin: 0 10px;
  cursor: pointer;
}

#botao .qtd-produto i:hover {
  color: rgba(30, 30, 30, 1);
}

#botao .qtd-produto .rotulo {
  /* background-color: rgba(30, 30, 30, .3); */
  background-color: #ddd;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  width: 50px;
  text-align: center;
}

#descricao {
  display: flex;
  margin-bottom: 75px;
}

#descricao .descricao-texto {
  background-color: rgba(35, 50, 55, 0.7);

  border-radius: 15px;
  margin: 0 10px;
}

#descricao .descricao-texto p {
  padding: 10px;
  color: #fff;
  font-size: 1.25rem;
}

#informacoes {
  padding: 20px;
}

#informacoes h1 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

#informacoes .avaliacao {
  display: flex;
  width: 40%;
}

#informacoes .avaliacao i {
  font-size: 1.25rem;
  color: var(--gold-metallic);
}

#informacoes #preco {
  font-weight: 100;
}

#informacoes .notas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#informacoes .notas .nota {
  margin-bottom: 10px;
}

#informacoes .notas .nota p {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

#informacoes .notas .nota .pontos {
  width: 60%;
  background-color: var(--eerie-black);
  height: 15px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
}

#informacoes .notas .nota .ponto {
  background-color: #fff;
  width: calc(100% / 10);
  height: 5px;
  border-radius: 100px;
  margin: 0px 2px;
}

.container #linha-principal {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  #informacoes {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #botao {
    margin: -5% 0px;
  }
}
