
body{
    background-color: white;
}



/* .btn {
    box-shadow: none;
   }
   
   .navbar-toggler {
    box-shadow: none;
   } */
.navbar{
    background-color: var(--eerie-black); 
}

.navbar .navbar-toggler{
    box-shadow: none;
}

.nav {
    background-color: var(--eerie-black); 
}

.d-flex input{
    border: 1px white;
    border-radius: 30px;
    text-decoration: none;
    text-align: center;

}
.d-flex .btn{
    box-shadow: none;
}

.offcanvas-header{
    background-color: var(--eerie-black); 
    padding: 0.5rem;
}

.offcanvas-header i{
    background: none;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}

.offcanvas-header i:hover{
    color: var(--gold-metallic);
}

.offcanvas{
    background-color: var(--dark-slate-gray);
}
.offcanvas-body{
    font-size: 1rem;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.offcanvas-body .nav-item{
    display: flex;
    align-items: center; 
    color: white;
    justify-content: space-between;
}


.offcanvas-body .menu-link{
    display: flex;
    flex: 2;
    justify-content: center; 
}

.offcanvas-body .nav-item .nav-link:hover{
    color: var(--gold-metallic);
}

.offcanvas-body .nav-item .teste:hover > *{
    color: var(--gold-metallic);
}


.offcanvas-body .menu-link .nav-link{
    text-decoration: none;
    color: white;
}

.offcanvas-body-button{
    background-color: var(--eerie-black);
    text-align: center;
}

.offcanvas-body-button .btn{
    font-weight: bold;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--eerie-black);
    font-weight: bold;
    background-color: var(--gold-metallic);
    }

.nav-pills .nav-link {
    background: 0 0;
    width: 120px;
    text-align: center;
    border: 0;
    border-radius: 0.25rem;
    color: var(--gold-metallic);
    background-color: var(--dark-slate-gray);
}

.btn{
    color: var(--gold-metallic);
}

.btn:hover{
    color: white;
}

.tab-content .bi{
    cursor: pointer;
}

.row{
    margin: 20px;
}

.row .produto{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.row .produto .icones {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    font-size: 1.25rem;
    width: 100%;
}

.row .produto img{
    width: 80%;
}

.row .produto .btn{
    color: black;
    background-color: var(--gold-metallic);
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
    text-align: center;
}



.row .produto .nome-produto{
    font-size: 100%;
    text-align: center;
    height: 50px;
    width: 100%;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
}

.footer{
    background-color: var(--eerie-black);
    height: 50px;
    padding: 10px;
    text-align: center;
    position: fixed;
}

.footer p{
    color: rgba(218, 218, 218, 0.883);
}

@media screen and (max-width: 780px){

    .nav-pills .nav-item{
        margin: 5px;
        display: flex;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 440px){

    .d-flex input{
        display: none;
    }
}

@media screen and (max-width: 400px){

    .carousel{
        display: none;
    }
}